a {
    text-decoration: none;
}

.LandingPageWrapperDiv {
    background-image: linear-gradient( 135deg, #00f59f 0%, #00a6ff 100% );

    overflow-x: hidden;

    scroll-behavior: smooth;
}

.CentreEverything2 {
    min-height: 100vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;
  
    font-family: 'Roboto';
    /* font-family: 'Aller'; */
    /* font-family: 'Comic Sans MS'; */
    /* font-family: 'Times New Roman'; */
    /* font-family: 'Lora'; */
}

.CentreEverything3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.StackedContent2 {
    display: grid;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.SideToSide {
    display: flex;
    align-items: center;
}

.ImageFit {
    object-fit: contain;
    max-width: 100%;
}

.Shadow {
    filter: drop-shadow( 0px 0px 40px #000000 );
}

.StackThis {
    display: block;
}